.d1{
    background-color: rgb(48, 26, 69);
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.d2{
    background-color: bisque;
    height:1000px ;
    
}
.btn{
    color: white;
    background-color: cadetblue;
    border-color: black;
    border-radius: 45px;
}